@use "./variables" as myVariables;
@use "./mixins";

.skills {
  &__section__1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @include mixins.respond(medium) {
      grid-template-columns: 1fr;
    }

    &__layout {
      padding: 20px 20px 10px;
      margin-left: 40px;
      @include mixins.respond(thin) {
        padding: 30px;
        margin-left: 0px;
      }

      &__wrapper {
        width: 25%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        color: myVariables.$hr;
        @include mixins.respond(thin) {
          width: 50%;
        }

        &__line {
          border: 1px solid;
          width: 40px;

          &__text {
            font: 600 20px myVariables.$font;

            &__sub {
              &__heading {
                font: 600 16px myVariables.$font;
                max-width: 90%;
                color: myVariables.$bg;
                @include mixins.respond(thin) {
                  font-size: 15px;
                }
                &__calltoaction {
                  display: grid;
                  grid-template-columns: auto auto;
                  padding-top: 60px;
                  font: 600 90px myVariables.$font;
                  color: myVariables.$bg;
                  word-spacing: 1rem;
                  line-height: 0.9em;
                  @include mixins.respond(thin) {
                    font: 600 30px myVariables.$font;
                    display: flex;
                    gap: 10px;
                    padding-top: 30px;
                  }

                  &__button {
                    border: 1px;
                    border-radius: 20px;
                    min-width: 200px;
                    color: #fff;
                    padding: 20px;
                    font: 600 13px myVariables.$font;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 50px;
                    background-color: myVariables.$hr !important;
                    outline: none !important;
                    @include mixins.respond(thin) {
                      width: 100%;
                      margin-top: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.card__section {
  display: grid;
  grid-template-columns: repeat(10, 70px);
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @include mixins.respond(medium) {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    @include mixins.respond(small) {
      grid-template-columns: repeat(3, 70px);
    }
    padding: 30px;
  }

  &__cardwrapper {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none !important;
    border-radius: 5px;
    @include mixins.respond(medium) {
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    }
    &__link {
      width: 50px;
      place-items: center;
    }
    &__image {
      padding: 40px;
      border-radius: 50%;
      width: 100%;
      height: 40vh;
      transition: all 2s ease;
      &:hover {
        transform: scale(1.1) rotate(0.001deg);
      }

      &__body {
        padding: 20px;
        text-align: center;

        &__title {
          font: 600 18px myVariables.$font;
          color: myVariables.$hr;

          &__description {
            font: 200 12px myVariables.$font;
          }
        }
      }
    }
  }
}

#box1 {
  animation: moveScreen 4s ease-in-out infinite;
  transform-box: fill-box;
}

#box2 {
  animation: moveScreen2 4s ease-in-out infinite;
  transform-box: fill-box;
}

#box3 {
  animation: moveScreen3 4s ease-in-out infinite;
  transform-box: fill-box;
}

@keyframes moveScreen {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  20% {
    opacity: 1;
    transform: translate(0px, 0);
  }
}

@keyframes moveScreen2 {
  0%,
  20% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  40% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes moveScreen3 {
  0%,
  40% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
