@use "./variables" as myVariables;
@use "./mixins";

.flex {
  padding: 50px;
  &__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &__1{
      width: 600px;
      padding: 50px;
      &__border {
        width: 55%;
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 40px;
        color: myVariables.$hr;
        }
      }
  }
}

.linerule{
  border: 1px solid;
  width: 40px;
  &__text{
    font:600 20px myVariables.$font;
  }
}
.about{
    font: 600 60px myVariables.$font;
    color: myVariables.$bg;
    text-align: left;
    line-height: 1em;
    padding-left: 40px;
   
}

/*animation */
#monitor {
  animation: moveMonitor 4s ease-in-out infinite;
  transform-box: fill-box;
}
#flash {
  animation: flash 4s ease-in-out infinite;
  transform-box: fill-box;
}

@keyframes flash {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  20% {
    opacity: 1;
    transform: translate(0px, 0);
  }
}
@keyframes moveMonitor {
  0%,
  20% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  40% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
