@use "./variables" as myVariables;
@use "./mixins";

.navigation {
  padding: 40px;
  &__container {
    &__link {
      font: 500 0.875em myVariables.$font;
      color: myVariables.$nav-color !important;
      &:hover {
        color: myVariables.$bg !important;
      }
      &__icon {
        margin-right: 15px;
        &__responsive {
          font: 500 15px myVariables.$font;
          margin-left: 20px;
          &__li {
            color: myVariables.$bg !important;
            margin-right: 40px;
            &:hover {
              color: myVariables.$blue !important;
            }
          }
        }
      }
    }
  }
}
