@use "variables" as myVariables;
@use "mixins";

.project {
  padding: 0 50px 0;
  @include mixins.respond(thin) {
    padding: 0;
    margin-top: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 40px 20px;
    @include mixins.respond(medium) {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 10px;
    }
    @include mixins.respond(thin) {
      grid-template-columns: 1fr;
      padding-top: 10px;
    }

    &__card {
      border-radius: 25px;
      max-width: 340px;
      height: 340px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border: none !important;
      @include mixins.respond(medium) {
        margin: auto;
      }
      @include mixins.respond(small) {
        width: 100%;
      }
      &:hover {
        transform: scale(1.05);
        box-shadow: #4c40f7;
          cursor: pointer;
      }

      &__link {
        height: 50%;
        border-radius: 10px;
        @include mixins.respond (thin){
          // height: 30vh;
        }

        &__parent {
          text-decoration: none;
          color: myVariables.$bg;
          text-align: left;
          &:hover {
            color: myVariables.$bg;
          }

          &__heading {
            font: 600 15px myVariables.$font;

            &__review {
              font: 200 10px myVariables.$font;
              margin-bottom: 0.45em;
              &__cardbtn {
                border: 1px;
                border-radius: 20px;
                min-width: 200px;
                justify-content: center;
                color: #fff;
                padding: 20px;
                text-align: center;
                font: 600 13px myVariables.$font;
                margin-top: 50px;
                background-color: myVariables.$hr !important;
                outline: none !important;
                text-transform: uppercase;
                &:hover {
                  background-color: myVariables.$bg !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icongroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 30px 10px;
}

.linkicons {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: myVariables.$hr;
  }
}

.aside {
  padding: 20px;
  &__horizontal {
    width: 25%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    color: myVariables.$hr;
    @include mixins.respond(thin) {
      padding: 0;
      width: 80%;
    }
    &__rule {
      border: 1px solid;
      width: 40px;

      &__ptag {
        font: 600 20px myVariables.$font;
      }
    }
  }
}

a{
  text-decoration: none;
  color: myVariables.$bg;
}
//carousel
// .carousel-control-prev,
// .carousel-control-next {
//   opacity: 0.8; 
// }

.carousel-control-prev:hover,
.carousel-control-next:hover {
  // background-color: darkred; /* Darker shade on hover */
  opacity: 1; /* Full opacity on hover */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  // filter: invert(100%);
  width: 20px; 
  height: 20px; 
  fill: #4c40f7;
  background-color: #4c40f7 !important;
}
