@use "variables" as myVariables;
@use "mixins";

.project {
  padding: 50px;
  @include mixins.respond(thin) {
    padding: 0;
    margin-top: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    @include mixins.respond(medium) {
      grid-template-columns: 1fr;
      padding-top: 10px;
    }

    &__card {
      border-radius: 25px;
      border: none !important;
      @include mixins.respond(medium) {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -3px 5px;
        margin: auto;
      }
      @include mixins.respond(small) {
        width: 100%;
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          cursor: pointer;
      }

      &__link {
        height: 50vh;
        border-radius: 10px;
        @include mixins.respond (thin){
          height: 30vh;
        }

        &__parent {
          text-decoration: none;
          color: myVariables.$bg;
          text-align: left;
          padding: 40px;
          &:hover {
            color: myVariables.$bg;
          }

          &__heading {
            font: 600 25px myVariables.$font;

            &__review {
              font: 200 14px myVariables.$font;

              &__cardbtn {
                border: 1px;
                border-radius: 20px;
                min-width: 200px;
                justify-content: center;
                color: #fff;
                padding: 20px;
                text-align: center;
                font: 600 13px myVariables.$font;
                margin-top: 50px;
                background-color: myVariables.$hr !important;
                outline: none !important;
                text-transform: uppercase;
                &:hover {
                  background-color: myVariables.$bg !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icongroup {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.linkicons {
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: myVariables.$hr;
  }
}

.aside {
  padding: 20px;
  &__horizontal {
    width: 25%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    color: myVariables.$hr;
    @include mixins.respond(thin) {
      padding: 0;
      width: 80%;
    }
    &__rule {
      border: 1px solid;
      width: 40px;

      &__ptag {
        font: 600 20px myVariables.$font;
      }
    }
  }
}

a{
  text-decoration: none;
  color: myVariables.$bg;
}