@use "variables" as myVariables;
@use "mixins";

.project{
  padding: 60px;
  &__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 70px;
    &__card{
      border-radius: 25px;
      &__link{
        padding: 30px;
        border-radius: 25px !important;
        height: 400px;
      }
    }
  }
}

//   @media (max-width: 700px) {
//     .project-grid {
//       grid-template-columns: 1fr;
//     }
//   }